.settings-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-row {
    display: flex;
    align-items: center;
  }
  
  .input-row label {
    margin-right: 10px;
  }
  
  .input-row input {
    flex-grow: 1;
  }
  
  .input-row input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: transparent;
  }

  
  